<!doctype html>
<html>
	<head><title>FEP进托邦</title></head>
	<body>
		<div id="content">Hello FEP...<%= content %></div>
	<script src="/scripts/common.js?5660ecc13b83309aca25"></script><script src="/scripts/index.js?5660ecc13b83309aca25"></script></body>
</html>